
.video__title {
    padding: 44px 0 0 0;
}

.video__iframe {
    max-width: 824px;
    height: 400px;
    margin: 59px 100px 0 100px;
}

.eef {
    display: block;
    max-width: 824px;
    max-height: 400;
    margin: 23px auto 0 auto;
}
@media (max-width: 900px) {
    .video__title {
        padding: 27px 0 23px 0;
    }

    .eef {
        display: block;
        max-width: 638px;
        height: 310px;
        margin: 0 auto;
    }
}

@media (max-width: 520px) {
    .video__title {
        padding: 17px 0 16px 0;
    }

    .eef {
        display: block;
        max-width: 320px;
        max-height: 148px;
        margin: 0 auto;
        padding: 0;
    }
}